body, html, .container-content {
height: 100%;
background-color: #233142
}

#app {
  height: 100%;

}
h3 {
  text-align: center;
}
.main-content {
  width: 380px;
  height: 1000px;
  z-index: 100;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  background-color: white;
  margin-left: auto;
    margin-right: auto;
}

.header {
  height: 40px;
  margin-left: 400px;
  margin-right: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  
}

header svg {
 height:100px; 
 align-items: center;
 margin-left: 78px;

}

.navbar-top, .mr-auto {
  align-items: center;
 text-align: center;
 margin-left: 40px;
}

.datetime {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: silver;
  font-size: 19px;

}
.datetime hr {
  border-top: 1px dotted silver;
  margin: auto;
  display: inline-block; 
  width: 85px;
  align-items: center;
}

.column {
  display: inline-block;
}


#column-1 {
  width: 70%;
  text-align: left;
  padding: 5px 0;
 
}
.firstColumnStyle {
  font-family: "Gill Sans", sans-serif;
  color: silver;
}
#column-2 {
  width: 30%;
  font-family: "Gill Sans", sans-serif;
  color: silver;
 text-align: right
}



.listcontent {
  width: 100%;
 
  padding-top: 60px;
}














